<ion-view>
	<ion-header-bar class="bar item-input-inset bar-calm">
		<button class="button button-icon icon ion-plus-round white" ng-click="showBetAddModal()"></button>
		  <div class="h1 title">Betdeck</div>
		<button class="button button-icon icon ion-cash white" ng-click="bet()"></button>
	</ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <div class="button-bar">
    	<a class="button" ng-click="filter(0)" ng-class="{selected:options.difficulty == 0}">All</a>
      	<a class="button" ng-click="filter(1)" ng-class="{selected:options.difficulty == 1}">Easy</a>
      	<a class="button" ng-click="filter(2)" ng-class="{selected:options.difficulty == 2}">Hard</a>
      	<a class="button" ng-click="filter(3)" ng-class="{selected:options.difficulty == 3}">Insane</a>
    </div>
  </ion-header-bar>

	<ion-content overflow-scroll="true">
	  	<div masonry class="grid" masonry-options="{ transitionDuration: '0.4s', isFitWidth: true }" reload-on-show>
		    <div class="masonry-brick" ng-repeat="bet in filteredBets">
		        <div class="list card">
				  	<div class="item item-text-wrap">
					    {{bet.description}}
				  	</div>
				  	<a class="item" ng-class="{easy:bet.difficulty == 1, hard:bet.difficulty == 2, insane:bet.difficulty == 3}">
					   	<span ng-if="bet.difficulty == 1" class="white">EASY</span>
				  		<span ng-if="bet.difficulty == 2" class="white">HARD</span>
				  		<span ng-if="bet.difficulty == 3" class="white">INSANE</span>
					</a>
				</div>
		    </div>
		</div>
	</ion-content>
</ion-view>